# This is a Klipper configuration for TronXY X5SA with BigTreeTech Octopus V1.1
# motherboard.

# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.


### HARDWARE ###
[include hardware/printer.cfg]
[include hardware/axis/XY.cfg]
[include hardware/axis/Z.cfg]
# [include hardware/input_shaper.cfg]
[include hardware/extruder.cfg]
[include hardware/firmware_retraction.cfg]
[include hardware/heated_bed.cfg]
[include hardware/probe.cfg]
[include hardware/fans.cfg]
[include hardware/lights.cfg]
[include hardware/display.cfg]

### MACROS ###
# [include macros/print_base/park.cfg]
[include macros/print_base/pause_resume.cfg]
[include macros/print_base/print_cancel.cfg]
[include macros/print_base/print_end.cfg]
[include macros/print_base/print_start.cfg]

[include macros/probing/adjust_z_offset.cfg]
[include macros/probing/bed_mesh.cfg]
# [include macros/probing/homing_qgl.cfg]
# [include macros/probing/klicky_probe.cfg]

# [include macros/helpers/filament_swap.cfg]
# [include macros/helpers/heatsoak.cfg]
# [include macros/helpers/lights.cfg]
# [include macros/helpers/nozzle_cleaning.cfg]
# [include macros/helpers/temp_check.cfg]

# [include macros/calibration/pa_calibrate.cfg]

# [include macros/miscs/debugging.cfg]
# [include macros/miscs/marlin_compat.cfg]


# [include kiauh_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.715000, 0.552500, 0.477500, 0.550000, 0.740000
#*# 	0.797500, 0.702500, 0.640000, 0.682500, 0.792500
#*# 	0.897500, 0.837500, 0.795000, 0.842500, 0.952500
#*# 	0.880000, 0.785000, 0.747500, 0.830000, 0.972500
#*# 	0.842500, 0.580000, 0.475000, 0.535000, 0.737500
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 300.0
#*# mesh_x_pps = 2
#*# max_x = 300.0
