#####################################################################
# 	Probe
#####################################################################

[bltouch]
control_pin: PB6
sensor_pin: ^PB7
x_offset: -43
y_offset: -6
z_offset: 3.050
stow_on_each_sample: false
probe_with_touch_mode: true
#162 159

##	Inductive Probe, comment out if using BLTouch
# [probe]
# pin: ~!PC5
# x_offset: -40
# y_offset: -7
# z_offset: 3.71
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 205,165
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_screws]
screw1: 5,5
screw2: 165,5
screw3: 325,5
screw4: 5,325
screw5: 165,325
screw6: 325,325

[screws_tilt_adjust]
screw1: 45,12
screw2: 210,12
screw3: 350,12
screw4: 45,330
screw5: 210,330
screw6: 350,330

[bed_mesh]
speed: 150
probe_count: 5,5
mesh_min : 20,20
mesh_max : 300,300

